:root {
    --main-color: #1b98f2;
    --secondary-color: #0F4C75;
    --background-color: #3282B8;
    --backing-image: url('bck.png');
}
.logo{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: auto;
}

.darkmode{
    --main-color: #2e2ed1;
    --secondary-color: #00009c;
    --background-color: #2e2ed1;
    --backing-image: url('background_dark.png');
}

* {
    margin: 0;
    padding: 0; 
}

body{
    background: var(--backing-image) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.gbackgorund{
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50em ;
    height: 38em;
    border:solid var(--secondary-color) 3px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur(1px);
    border-radius: 50px;
}
.topback{
    border: solid var(--secondary-color) 3px;
    width: 100vw;
    height: 120px;
    background: var(--main-color);
    padding: 0;
    margin: 0;
}
.about{
    position: absolute;
    top: 4%;
    left: 6%;
    font-family: "fantasy", sans-serif;
    color: white;
    font-size: 50px;

}

