* {
    margin: 0;
    padding: 0;
}


body{
    background-image: url("background.png");
    background-size: cover;
    overflow: hidden;
}
.batn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: auto;
    border-radius: 100%;
}
.batn:hover{
    box-shadow: red 1px 1px 100px;
    height: 52vh;
    width: 45vw;
}
.batn:active{
    background-color: green;  
    border-color: green;
    height: 42vh;
    width: 40vw;
}

#couter{
    color: blue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

#branikos{
    height: 40vh;
    width: 30vw;
}

#shop_img{
    width: 5vw;
    height: 5vh;
}

#shop_div{
    display: none;
    height: 50vh;
    width: 50vw;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: blue 1px 1px 10px;
}

#ketamine_upgrade{
    background-color: red;
    border: none;
    order: 1;
}

#unicorn{
    width: 10vw;
    height: 10vh;
    border-radius: 20px;
    box-shadow: purple 1px 1px 70px;
}
#unicorn:hover{
    width: 11vw;
    height: 11vh;

}
#unicorn:active{
    width: 9vw;
    height: 9vh;
}
#ketamine_counter{
    order: 4;
}

#autoclicker{
    border: none;
    width: 10vw;
    height: 10vh;
    border-radius: 20px;
    background-color: none;
    order: 2;
    justify-content: center;
}
#autoclicker_img{
    width: 10vw;
    height: 10vh;
    border-radius: 20px;
}

#autoclicker:hover{
    width: 11vw;
    height: 11vh;
}

#autoclicker_counter{
    color: blue;
    order: 5;
}
#shop_div_grid{
    height: 0vh;
    width: 30vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
}
#bluep_upgrade{
    width: 10vw;
    height: 10vh;

}

#bluep_upgrade_img{
    width: 10vw;
    height: 10vh;
    order: 3;
}

/* SKIN SHOp */
#skin_shop{
    width: 7vw;
    height: 7vh;
    position: absolute;
    top: 1vh;
    left: 92vw;
    align-items: center;
}
#skin_shop_img{
    width: 5vw;
    height: 5vh;
}
#skin_shop_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 50vw;
    background-color: green;
    display: none;

}
#wide_branikos{
    margin: 2%;
    width: 10vw;
    height: 10vh;

}
#wide_branikos_img{
    width: 10vw;
    height: 10vh;
}
#original_branikos{
    margin: 2%;
    width: 10vw;
    height: 10vh;    
}
#original_branikos_img{
    width: 10vw;
    height: 10vh;

}