* {
    margin: 0;
    padding: 0; 
}

body{
    background: url('bck.png') no-repeat center center fixed;
    background-size: cover;
}
.backnadpis{
    width: 100%;
    height: 100px;
    margin: 0;

}

.gbackgorud{
    width: 500px;
    height: 400px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: solid 2px #0F4C75;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0.5px 20px #11000038;
    backdrop-filter: blur(1px);
}

.login{
    position: absolute;
    top: 34%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #1b98f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

.form{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.submit-button{
    position: absolute;
    top: 150%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 30px;
    border-radius: 1em;
    border: none;
    background: #1b98f2;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    box-shadow: 0 0.1px 10px #1b98f2;
}
input{
    width: 200px;
    height: 40px;
    border-radius: 1em;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0.1px 10px #3282B8;
    backdrop-filter: blur(1px);
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #0F4C75;
}

.signup{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #0F4C75;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;    
}