:root{
    --main-color: #1b98f2;
    --secondary-color: #0F4C75;
    --text-color: #4988C4;
        
}
*{
    margin-top: 10px;
    padding: 0;
    box-sizing: bord    er-box;
}
body{
    background-image : linear-gradient(to right,#1C4D8D, #1b98f2);
}

.background{
    background-color: #BDE8F5;
    width: 30vw;
    height: 60vh;
    border-radius: 10%;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-shadow:  10px 10px #0F2854;
}

.login{ 
    font-size: 4em;
    color: rgb(16, 137, 211);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: var(--secondary-color) 3px 5px 2px;
    font-weight: 900;
    font-family: "Special Gothic Expanded One", sans-serif;
}

.form {
    position: absolute;
    top: 25vh;
    left: 15vw;
    transform: translate(-50%, -50%);
}
.form .input {
  width: 20vw;
  background: white;
  border: none;
  padding: 15px 30px;
  border-radius: 20px;
  margin-top: 35px;
  box-shadow: var(--main-color) 2px 4px 2px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}

/* forgot pass*/
.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: var(--main-color);
  text-decoration: none;
}


/* Login button Styles */


.form .login-button {
  display: block;
  width: 20vw;  ;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, #1b98f2 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}
