body {
    background: black;
}

.sunlight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100px;
    height: 100px;
    background: radial-gradient(yellow 30%, rgb(241, 78, 2) 100%);
    border-radius: 50%;

    box-shadow: 0px 0px 400px rgb(255, 251, 0) ; 

}

.orbitmerk{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: rotate 5s linear infinite


}


.merk {
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at 50% 100%, rgb(184, 40, 4) 20%, black 80%);
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -30%);
     
    
}
.zeme {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at 50% 100%, rgb(16, 0, 161) 20%, black 80%);
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(50%, 50%);
    transform: rotate(-30deg);

}

.zemeorbit{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   animation: rotate 30s linear infinite 
}

.rocket{
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    position: absolute;
    top:100px;
    left:0;


}
.rocket_orbit{
    border: solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
    animation: rotate 4s linear infinite; 

}


@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}