body {
    background: black;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100px;
    height: 100px;
    background-color: gold;
    border-radius: 50%;
}
.merk {
    width: 50px;
    height: 50px;
    background-color: ;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
     
    
}